*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.custom-footer {
        /* width: 100%; */

     .container-fluid{
        /* width: 100%; */
        background-color: grey;
                 
     }
}