{% extends 'base.html' %}

{% block title %}Dashboard{% endblock  %}

{% block css %}{% endblock  %}

{% block content %}
<br><br>
<div style="margin-left:2%;">
{{data}}
<br>
<form action="{% url 'query' pk=data.id %}" method="post">
     {% csrf_token %}
  <button type="submit">Query</button>
</form>
<br>
<form action="{% url 'allquery' pk=data.id %}" method="post">
     {% csrf_token %}
  <button type="submit">All Query</button>
</form>
<br>
{% if query %} 
   <form action="{% url 'querydata' pk=data.id %}" method="post">
       {% csrf_token %}
        Name: <input type="text" name="name" value="{{data.name}}" readonly>
        Email: <input type="text" name="email" value="{{data.email}}" readonly>
        Query: <input type="text" name="query" value="" >

        <button type="submit">Submit query</button>
    </form>
{% endif %}
{% if aquery %}
  
<form action="{% url 'search' pk=data.id %}" method="post">
    {% csrf_token %}
       <input type="text" name="search" value="">
       <input type="submit" value="Search">
</form>

<a href="{% url 'allquery' pk=data.id %}"><button>RESET</button></a>
<br><br>
Name: {{data.name}}<br>
Email: {{data.email}}

<table border="1">
    <thead>
        <tr>
            <th>Sno.</th>
            <th>Query</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for i in aquery %}
        <tr>
           {% comment %} <td>{{i.id}}</td> {% endcomment %}
           <td>{{forloop.counter}}</td>
           <td>{{i.query}}</td>
           <td><a href="{% url 'edit' id=i.id  pk=data.id %}">Edit</a></td>
           <td><a href="{% url 'delete' id=i.id  pk=data.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if editdata %} 
   <form action="{% url 'editdata' id=editdata.id  pk=data.id %}" method="post">
       {% csrf_token %}
        Name: <input type="text" name="name" value="{{editdata.name}}" readonly>
        Email: <input type="text" name="email" value="{{editdata.email}}" readonly>
        Query: <input type="text" name="query" value="{{editdata.query}}" >
        <button type="submit">Update query</button>
    </form>
{% endif %}
</div>
<br><br><br>
{% endblock  %}